body {
  color: white;
  font-family: Arial, sans-serif;
  background-color: #009966;
}
link {
  color: #330000;
}
h1 {
  color: white;
  font-family: Arial, verdana;
  background-color: #009966;
}
div {
  color: #660099;
}
